@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;500;600&display=swap");

@theme {
  --color-background: var(--bg);
  --color-background-variant: var(--bg-variant);
  --color-primary: var(--primary);
  --color-primary-variant: var(--primary-variant);
  --color-white: var(--white);
  --color-light: var(--light);
  --color-border: var(--primary);

  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(20px);
    }
  }
}

@layer base {
  :root {
    --bg: #1f1f38;
    --bg-variant: #2c2c6c;
    --primary: #4db5ff;
    --primary-variant: rgba(77, 181, 255, 0.4);
    --white: #fff;
    --light: rgba(255, 255, 255, 0.6);
  }

  html {
    @apply scroll-smooth;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    font-family: "Poppins", sans-serif;
    @apply bg-background;
    background-image: url(../src/assets/bg-texture.png);
    line-height: 1.7;
  }
}

@utility button {
  @apply w-max inline-block text-primary py-[0.75rem] px-[1.2rem] rounded-[0.4rem] border border-primary hover:bg-white hover:text-background hover:border-transparent transition-all duration-[400ms] ease-in-out;
}

@utility a {
  @apply text-primary hover:text-white transition-all  duration-[400ms] ease-in-out;
}

@utility card {
  @apply bg-background-variant border border-transparent rounded-3xl p-[2rem] text-center transition-all duration-300 hover:bg-transparent hover:border-primary-variant;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
